.logo {
    font-size: 2.5rem;
    font-weight: 900;
    color: var(--primary-color);
    cursor: pointer;
    text-decoration: none;
}

.logo:hover {
    opacity: 0.85;
    color: var(--primary-color);
}

