.bill-info {
    padding-bottom: 200px;
    background-color: var(--bg-color);
}

.table-head {
    font-size: 1.8rem;
}

.table-body {
    font-size: 1.6rem;
}

.bill-detail {
    cursor: pointer;
    color: var(--primary-color);
}

.bill-detail:hover {
    color: var(--black-color);
}