.slogan{
    padding-top: 20px;
}
.line-1{
    color: #FE9938;
    font-family: Satisfy;
    Line-height: 52px;
    font-size:36px;
    display: flex;
    justify-content: center;
}
.line-2{
    text-transform: uppercase;
    font-family: Poppins;
    font-size: 36px;
    line-height:54px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}