.product-filter {
  display: flex;
  flex-direction: row;
  background-color: #ffddbf;
  margin-left: 4px;
  margin-right: 6px;
  padding: 1rem;
}

.product-filter__heading {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 4rem;
  padding: 0.5 2rem 0;
  align-self: center;
  line-height: 1.5rem;
}