.product-container {
    background-color: #FFF8F2;
}

.product-heading {
    text-align: center;
}

.category {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFDDBF;
}

.category-heading {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--primary-color);
}

.category-item {
    cursor: pointer;
}

.category-item__heading {
    font-size: 1.6rem;
    font-weight: bold;
}

.category-item__link {
    font-size: 1.5rem;
    margin-top: 0.75rem;
}

.product-filter {
    display: flex;
    flex-direction: row;
    background-color: #FFDDBF;
    margin-left: 4px;
    margin-right: 6px;
    padding: 1rem;
}

.product-filter__heading {
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 1rem;
    padding-top: .5rem;
    align-self: center;
    line-height: 1.5rem;
}

.product-filter__btn {
    margin-left: 2rem;
    min-width: 120px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 20px;
    font-size: 1.4rem;
    box-shadow: var(--box-shadow-color);
}

.product-filter__dropdow {
    margin-left: 2rem;
}

.product-filter__dropdow-toggle {
    min-width: 120px;
    height: 34px;
    font-size: 1.4rem;
    border-radius: 2px;
    background-color: var(--primary-color);
    border: none;
    box-shadow: var(--box-shadow-color);
}

.product-filter__dropdow-menu {
    width: 120px;
}

.product-filter__dropdow-item {
    font-size: 1.4rem;
    height: 3rem;
}

.product-filter__search {
    min-width: 260px;
    height: 34px;
    margin-left: 2rem;
    border-radius: 20px;
    font-size: 1.4rem;
    box-shadow: var(--box-shadow-color);
}

.product-filter__page {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.product-filter__page-current {
    font-size: 1.4rem;
    color: var(--primary-color);
}

.product-filter__page-total {
    font-size: 1.4rem;

}

.filter-page__btn {
    margin-left: 2rem;
    display: flex;
}

.filter-page__btn:first-child {
    border-right: 1px solid var(--primary-color);
}

.filter-page__icon {
    padding: 1rem;
    margin: auto;
    font-size: 1.4rem;
    color: var(--primary-color);
    background-color: var(--white-color);
    box-shadow: var(--box-shadow-color);
}

.product {
    
}

.product-item {
    /* position: relative; */
    display: block;
    text-decoration: none;
    margin-top: 10px;
    background-color: var(--white-color);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
}

.product-item__img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.product-item__name {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--black-color);
    line-height: 1.8rem;
    height: 3.6rem;
    margin: 10px 10px 6px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
}

.product-item__price {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

.product-item__price-old {
    margin-left: 10px;
    font-size: 1.4rem;
    color: #666;
    text-decoration: line-through;
}

.product-item__price-current {
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-left: 10px;
}

.product-item__action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 10px 0;
    padding-bottom: 6px;
}

.product-item__action-rating {
    font-size: 1rem;
    color: #D5D5D5;
}

.product-item__star--gold {
    color: var(--primary-color);
}

.product-item__cart {

}

.product-item__cart-icon {
    font-size: 1.4rem;
    color: var(--primary-color);
}