.product-filter__dropdow-toggle {
  min-width: 120px;
  height: 34px;
  font-size: 1.4rem;
  border-radius: 2px;
  background-color: var(--primary-color);
  border: none;
  box-shadow: var(--box-shadow-color);
}

.product-filter__dropdow-menu {
  width: 120px;
}




