.home-title {
    font-size: 8rem;
    line-height: 8rem;
    font-weight: bold;
}

.home-description {
    font-size: 2.5rem;
    color: var(--light-color);
    padding-left: 8px;
    margin-top: 4px;
    border-left: 1px solid var(--light-color);
}